In [ ]:
#Welcome Message
print("""Name: Saanvi
Branch: Computer Science & AI
College: BBDU
Fav lang: Java""")

Name: Saanvi
Branch: Computer Science & AI
College: BBDU
Fav lang: Java

In [ ]:
#User Info
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")

print("Name:", name)
print("Age:", age)
print("City:", city)

Name: Tina
Age: 20
City: Lucknow

In [ ]:
#Basic Calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
op = input("Select Operator: '+', '-', '*', '/'")

if op == '+':
    print("a+b =", a + b)
elif op =='-':
    print("a-b =", a - b)
elif op == '*':
    print("a*b =", a*b)
elif op == '/':
    print("a/b =", a/b)
else:
    print("Invalid Operation! Try again..")

a+b = 11

In [ ]:
#Variables & Types
x = 117.53
y = "apple"
z = 20
boolean = False
a = None


print(type(x))
print(type(y))
print(type(z))
print(type(boolean))
print(type(a))

<class 'float'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
#Swap Numbers
x = 5
y = 10

print("Before swap: x =",x, "y =", y)
x, y = y, x

print("After swap: x =",x, "y =", y)

Before swap: x = 5 y = 10
After swap: x = 10 y = 5

In [ ]:
#String formatting
name = input("Enter your name:")
city = input("Enter your city:")

print(f"Hi, My name is {name}. I am from {city}")

Hi, My name is Tina. I am from Lucknow