In [5]:
#Tuple Indexing
fruits = ("Mango", "Guava", "Banana", "Grapes", "Strawberry", "Apple")
a = len(fruits)-1
print(fruits[0])
print(fruits[a])
print(fruits[a//2])

Mango
Apple
Banana

In [ ]:
#Tuple Unpacking
std_data = ("Noor", "25", "B.Tech")
name, age, course = std_data
print(f"""name: {name}
age: {age}
course: {course}""")

name: Noor
age: 25
course: B.Tech

In [8]:
#Set Operations
st1 = {1,3,4,6,8,10}
st2 = {2,4,6,10,12,15}
print(st1.union(st2))
print(st1.intersection(st2))
print(st1.difference(st2))

{1, 2, 3, 4, 6, 8, 10, 12, 15}
{10, 4, 6}
{8, 1, 3}

In [ ]:
#Unique Items
ls = [1,1,2,3,4,4,5,5,5,7,10]
s=set(ls)
print(s)

{1, 2, 3, 4, 5, 7, 10}

In [23]:
#DictionaryAccess
details = {
    "name" : "Noor",
    "age" : 20,
    "city" : "lucknow",
    "marks" : 94
}
print("name: ", details["name"])
print("age: ", details["age"])
print("city: ", details["city"])
print("marks: ", details["marks"])

name:  Noor
age:  20
city:  lucknow
marks:  94

In [25]:
#UpdateDictionary
details["grade"]= 'A'
details["marks"]= 93

In [26]:
#Loop Dictionary
for key, value in details.items():
    print(key,":", value)

name : Noor
age : 20
city : lucknow
marks : 93
grade : A