In [1]:
import pandas as pd
s = pd.Series([5,8,11,14,17])
print(s)

0     5
1     8
2    11
3    14
4    17
dtype: int64

In [2]:
s = pd.Series([5,8,11,14,17], index=['a','b','c','d','e'])
print(s)

a     5
b     8
c    11
d    14
e    17
dtype: int64

In [4]:
data = {
    "Name": ["Raghav","Nehal","Atul"],
    "Marks": [78,92,80] 
}
df = pd.DataFrame(data)
print(df)

     Name  Marks
0  Raghav     78
1   Nehal     92
2    Atul     80

In [11]:
print(df.head(2))
print("\n",df.shape)
df.columns

     Name  Marks
0  Raghav     78
1   Nehal     92

 (3, 2)

Index(['Name', 'Marks'], dtype='object')

In [12]:
print(df["Name"])

0    Raghav
1     Nehal
2      Atul
Name: Name, dtype: object

In [14]:
df.loc[2]

Name     Atul
Marks      80
Name: 2, dtype: object

In [15]:
df.loc[0]

Name     Raghav
Marks        78
Name: 0, dtype: object

In [16]:
df.iloc[0]

Name     Raghav
Marks        78
Name: 0, dtype: object

In [17]:
df.loc[2,"Marks"]

np.int64(80)

In [22]:
df.iloc[0:3, 1]

0    78
1    92
2    80
Name: Marks, dtype: int64

In [24]:
print(df.loc[0:2])
df.iloc[0:2]

     Name  Marks
0  Raghav     78
1   Nehal     92
2    Atul     80

     Name  Marks
0  Raghav     78
1   Nehal     92